.card-nav {
  display: flex;
  background-color: #eaf2f2;
  width: 90%;
  padding: 10px 0;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  gap: 5%;
  

  &__btn {
    background-color: white;
    border-radius: 10px;
    border: 1px solid forestgreen;
    padding: 5px 10px;
    text-decoration: none;
    color: black;
    transition: background-color 0.3s;

    &:hover {
      background-color: #FFC;
    }
  }
}